input{
    width: 240px;
    padding: 10px 13px;
    height: 24px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.btn{
    background-color: #000;
    border-radius: 5px;
    color: #ffffff;
    padding: 8px 18px;
    border: 1px solid #ffffff;
}
.addBook-container{
    width: 340px;
    padding-left: 30px;
}